body{
  background: #F9F9F9;
  font-family: Bahnschrift;
  margin: 0 auto;
}
.container-logo{
  margin-top: 10%;
}
.navigation-bar{
  height:100% auto;
}
.container-auhorisation,.container-registration,.container-services{
  margin: 5% 0%;
}
.form-item{
  margin: 20px 0px;
}
.personal-data,.contact-info,.service-main-info{
  border-radius: 5px;
  background-color: #f4f4f4;
  margin-bottom: 10%;
}
.service-info{
  border-radius: 5px;
  background-color: #f4f4f4;
}
.service-add-info{
  margin-top: 5%;
  border-radius: 5px;
  background: #F9F9F9;
}
.text-big-1{
  font-size: 55px;
}
.text-orange{
  color:  #FF9E00;
}
.text-white{
  color: white;
}
.text-light-green{
  color: #2db005;
}
.text-strike{
  text-decoration: line-through;
}
.btn-orange,.bck-orange{
  color: white;
  background-color: #FF9E00;
}
.bg-light-green{
  background-color: #ebffe6;
}
