<!DOCTYPE html>
<html lang="ru" dir="ltr" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <title>Doc1</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
  </head>
  <body>
    <div class="container">
      <div class=" container-logo d-flex justify-content-center">
          <img src="../static/img/service_logo.png" th:src="@{/img/service_logo.png}" class="" width="200px" alt="...">
      </div>

      <div class="container-authorisation">
        <form action="/login" method="post" class="form-signin" >
            <div class=" form-item row justify-content-center">
              <div class="col-sm-1 ">
                <label for="inputEmail" class="col-form-label">E-mail</label>
              </div>
              <div class="col-sm-4">
                <input type="email" name="username" id="inputEmail" class="form-control rounded-pill shadow-sm bg-white rounded border-0" value="12345egor@mail.ru">
              </div>

            </div>
            <div class="form-item row justify-content-center">
              <div class="col-sm-1">
                <label for="inputPassword" class="col-form-label">Пароль</label>
              </div>
              <div class="col-sm-4">
                <input type="password" name="password" id="inputPassword" class="form-control rounded-pill shadow-sm bg-white rounded border-0" value="123456789">
              </div>

            </div>
            <div class=" form-item d-flex justify-content-center">
              <button class="btn btn-lg btn-orange btn-block " type="submit">Войти</button>
            </div>
            <div class="d-flex justify-content-center mt-2">
                <a th:href="@{/registration}"><h6 class="text-orange">Зарегистрироваться</h6></a>
            </div>

          </form>
      </div>


    </div>


  </body>
</html>
