<!DOCTYPE html>
<html lang="ru" dir="ltr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<title>Service</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</head>
<body>
	<div class="main-container">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm  rounded border-0">
			<div class="container-fluid">

				<a class="navbar-brand" href="#">
					<img th:src="@{/img/service_logo.png}" src="service_logo.png" width="40em"alt="">
					Подай на 16</a>


				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link active"  th:href="@{'/'}">Домашняя</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{'/products'}">Услуги</a>
						</li>

						<li class="nav-item ">
							<a class="nav-link " th:href="@{'/profile'}">Профиль</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
<div class="container-services">
	<div>
		<h1 th:text="${title}"></h1>
	</div>
	<div>
		<h4 th:text="${description}"></h4>
	</div>
</div>
</body>
</html>
