<!DOCTYPE html>
<html lang="ru" dir="ltr" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <title>Doc1</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
  </head>
  <body>
    <div class="main-container">
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm  rounded border-0">
			  <div class="container-fluid">

			    <a class="navbar-brand" href="#">
						<img th:src="@{/img/service_logo.png}" src="service_logo.png" width="40em"alt="">
						Подай на 16</a>

			    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			      <span class="navbar-toggler-icon"></span>
			    </button>
			    <div class="collapse navbar-collapse" id="navbarNav">
			      <ul class="navbar-nav">
			        <li class="nav-item">
			          <a class="nav-link "  href="#">Домашняя</a>
			        </li>
			        <li class="nav-item">
			          <a class="nav-link" href="#">Услуги</a>
			        </li>
			        <li th:if="${!isAdmin}" class="nav-item">
                        <a class="nav-link" href="#">Приобретенные услуги</a>
                    </li>
							<li class="nav-item me-2">
								<a class="nav-link active" href="#">Профиль</a>
							</li>
			      </ul>
			    </div>
			  </div>
			</nav>

      <!--Кнопка возврата-->

        <div class="justify-content-starts p-3">
            <a th:href="@{'/profile'}"><img src="btn_back.png" th:src="@{/img/btn_back.png}" width="3%"></a>
        </div>

      <!--Блок контента-->

		<div class="content-container">

      <div class="container-registration">
				<div class=" d-flex justify-content-center mt-5">
				   <img  th:src="@{/img/profile_icon.png}" class="" width="300px" alt="...">
				</div>
				<div class="d-flex justify-content-center ">
					<h1 class="text-orange">Ваш профиль</h1>
				</div>

        <form action="/profile/edit" method="post" class="" >

            <div class="form-item row justify-content-center">
              <div class="col-sm-1">
                <label for="inputName" class="col-form-label">Имя</label>
              </div>
              <div class="col-sm-4">
                <input th:value="${user.firstName}" type="name" name="firstName" id="inputName" class=" form-control rounded-pill shadow-sm bg-white rounded border-0" >
              </div>
            </div>
                <div class="form-item row justify-content-center">
                    <div class="col-sm-1">
                        <label for="inputSecondName" class="col-form-label">Фамилия</label>
                    </div>
                    <div class="col-sm-4">
                        <input th:value="${user.secondName}" type="name" name="secondName" id="inputSecondName" class=" form-control rounded-pill shadow-sm bg-white rounded border-0" >
                    </div>
                </div>
            <div class="form-item row justify-content-center">
                <div class="col-sm-1">
                    <label for="inputLastName" class="col-form-label">Отчество</label>
                </div>
                <div class="col-sm-4">
                    <input th:value="${user.lastName}" type="name" name="lastName" id="inputLastName" class=" form-control rounded-pill shadow-sm bg-white rounded border-0" >
                </div>
            </div>


              <div class="form-item row justify-content-center mt-5">
                  <div class="col-sm-1">
                      <label for="inputPhone" class="col-form-label">Телефон</label>
                  </div>
                  <div class="col-sm-4">
                      <input th:value="${user.phone}" type="phone" name="phone" id="inputPhone" class="form-control rounded-pill shadow-sm bg-white rounded border-0" placeholder="+7-000-000-00-00">
                  </div>
              </div>



            <div class=" form-item d-flex justify-content-center">
               <button  class="btn btn-lg btn-orange btn-block " type="submit">Сохранить изменения</button>
            </div>


          </form>
      </div>
    </div>
    </div>

  </body>
</html>
