<!DOCTYPE html>
<html lang="ru" dir="ltr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<title>Doc1</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</head>
<body>
	<div class="main-container">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm  rounded border-0">
			<div class="container-fluid">

				<a class="navbar-brand" href="#">
					<img th:src="@{/img/service_logo.png}" src="service_logo.png" width="40em"alt="">
					Подай на 16</a>


				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link "  th:href="@{'/'}">Домашняя</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{'/products'}">Услуги</a>
						</li>
						<li th:if="${!isAdmin}" class="nav-item">
							<a class="nav-link" th:href="@{'/productrecords'}">Приобретенные услуги</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link active" th:href="@{'/profile'}">Профиль</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<!--Блок контента-->

		<div class="row  d-flex justify-content-end  ">
			<div class="col p-5">
				<div class="personal-data p-4 shadow-sm  rounded border-0" >
					<h2 class="text-orange">Личные данные: </h2>

					<div class="form-item row justify-content-center">
						<div class="col-sm-4">
							<h5>Фамилия: </h5>
						</div>
						<div class="col-sm-6">
							<h5 th:text="${user.secondName}">Иванчин</h5>
						</div>
					</div>

					<div class="form-item row justify-content-center">
						<div class="col-sm-4">
							<h5>Имя: </h5>
						</div>
						<div class="col-sm-6">
							<h5 th:text="${user.firstName}">Егор</h5>
						</div>
					</div>

					<div class="form-item row justify-content-center">
						<div class="col-sm-4">
							<h5>Отчество: </h5>
						</div>
						<div class="col-sm-6">
							<h5 th:text="${user.lastName}">Игоревич</h5>
						</div>
					</div>
				</div>
				<div class="contact-info p-4 shadow-sm  rounded border-0">
					<h2 class="text-orange">Конактная информация: </h2>
					<div class="form-item row justify-content-center mt-4">
						<div class="col-sm-4">
							<h5>Номер телефона: </h5>
						</div>
						<div class="col-sm-6">
							<h5 th:text="${user.phone}">+7 927 099 94 60</h5>
						</div>
					</div>
					<div class="form-item row justify-content-center mt-4">
						<div class="col-sm-4">
							<h5>E-mail: </h5>
						</div>
						<div class="col-sm-6">
							<h5 th:text="${user.email}">egor58i@mail.ru</h5>
						</div>
					</div>
				</div>

					<div class=" form-item d-flex align-items-end">
						<a th:href="@{'/profile/edit'}"><button  class="btn btn-lg btn-orange btn-block" type="submit">Изменить профиль</button></a>
					</div>

			</div>
			<div class="col ">
				<div class=" container-logo d-flex justify-content-center p-5 ">
					<img src="profile_icon.png" th:src="@{/img/profile_icon.png}" class="" width="400px" alt="...">
				</div>
			</div>
		</div>

	</div>
</body>
</html>
