<!DOCTYPE html>
<html lang="ru" dir="ltr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <title>Service Add</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
  <div class="main-container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm  rounded border-0">
          <div class="container-fluid">

              <a class="navbar-brand" href="#">
                  <img th:src="@{/img/service_logo.png}" src="service_logo.png" width="40em"alt="">
                  Подай на 16</a>


              <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                      <li class="nav-item">
                          <a class="nav-link "  th:href="@{'/'}">Домашняя</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link active" th:href="@{'/products'}">Услуги</a>
                      </li>

                      <li class="nav-item ">
                          <a class="nav-link " th:href="@{'/profile'}">Профиль</a>
                      </li>
                  </ul>
              </div>
          </div>
      </nav>



      <div class="justify-content-starts p-3">
          <a th:href="@{'/products'}"><img src="btn_back.png" th:src="@{/img/btn_back.png}" width="3%"></a>
      </div>

    <!--Блок контента-->
    
  <div class="content-container">

    <div class="container-registration">
      <div class=" d-flex justify-content-center mt-5">
       <img src="tools_icon.png" th:src="@{/img/tools_icon.png}" class="" width="200px" alt="...">
     </div>
     <div class="d-flex justify-content-center ">
       <h1 class="text-orange">Добавление услуги</h1>
     </div>

     <form action="/products/add_product" method="post" enctype="multipart/form-data" class="" >

      <div class="form-item row justify-content-center">
        <div class="col-sm-1">
          <label for="inputServiceName" class="col-form-label">Название</label>
        </div>
        <div class="col-sm-4">
          <input  type="text" name="title" id="inputServiceName" class=" form-control rounded-pill shadow-sm bg-white rounded border-0" >
        </div>
      </div>
      <div class="form-item row justify-content-center">
        <div class="col-sm-1">
          <label for="inputServiceDescription" class="col-form-label">Описание услуги</label>
        </div>

        <div class="col-sm-4">
          <textarea  type="text" name="description" id="inputServiceDescription" class=" form-control  rounded-pill shadow-sm bg-white rounded border-0" rows="1"></textarea>
        </div>
      </div>


      <div class="form-item row justify-content-center mt-5">
        <div class="col-sm-1">
          <label for="inputServicePrice" class="col-form-label">Цена за услугу</label>
        </div>
        <div class=" col-sm-4">
          <input  type="number" name="price" id="inputServicePrice" class="form-control rounded-pill shadow-sm bg-white rounded border-0" >
        </div>
      </div>

      <div class="form-item row justify-content-center ">
        <div class="col-sm-1">
          <label for="inputServiceSale" class="col-form-label">Скидка на услугу</label>
        </div>
        <div class=" col-sm-4">
          <input  type="number" name="sale" id="inputServiceSale" class="form-control rounded-pill shadow-sm bg-white rounded border-0" >
        </div>
      </div>
      <div class="form-item row justify-content-center ">
        <div class="col-sm-1">
          <label for="inputServiceDuration" class="col-form-label">Длительность услуги (мин)</label>
        </div>
        <div class=" col-sm-4">
          <input  type="number" name="duration" id="inputServiceDuration" class="form-control rounded-pill shadow-sm bg-white rounded border-0" >
        </div>
      </div>

      <div class="form-item row justify-content-center mt-5">
        <div class="col-sm-1">
          <label for="formFileMultiple" class="form-label ">Выберите изображения для добавления</label>
        </div>
        <div class="col-sm-4">
          <input class="form-control" name="images" type="file" id="formFileMultiple" multiple>
        </div>
      </div>



      <div class=" form-item d-flex justify-content-center">
        <button class="btn btn-lg btn-orange btn-block " type="submit">Добавить услугу</button>
      </div>


    </form>
    </div>


    </div>

  </div>

</body>
</html>
