<!DOCTYPE html>
<html lang="ru" dir="ltr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <title>Service Edit</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
  <div class="main-container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm  rounded border-0">
          <div class="container-fluid">

              <a class="navbar-brand" href="#">
                  <img th:src="@{/img/service_logo.png}" src="service_logo.png" width="40em"alt="">
                  Подай на 16</a>

              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                      <li class="nav-item">
                          <a class="nav-link "  th:href="@{'/'}">Домашняя</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link active" th:href="@{'/products'}">Услуги</a>
                      </li>

                      <li class="nav-item me-2">
                          <a class="nav-link " th:href="@{'/profile'}">Профиль</a>
                      </li>
                  </ul>
              </div>
          </div>
      </nav>

  <!--Кнопка возврата-->

      <div class="justify-content-starts p-3">
          <a th:href="@{'/products'}"><img src="btn_back.png" th:src="@{/img/btn_back.png}" width="3%"></a>
      </div>

  <!--Блок контента-->

  <div class="content-container">

    <div class="container-registration">
      <div class=" d-flex justify-content-center mt-5">
       <img src="tools_icon.png" th:src="@{/img/tools_icon.png}" class="" width="200px" alt="...">
     </div>
     <div class="d-flex justify-content-center ">
       <h1 class="text-orange">Редактирование услуги</h1>
     </div>

     <form action="@{'/products/' + ${product.id} +'/update'}" method="post" class="" >

               <div class="form-item row justify-content-center">
                 <div class="col-sm-1">
                   <label for="inputServiceTitle" class="col-form-label">Название</label>
                 </div>
                 <div class="col-sm-4">
                   <input th:value="${product.title}" type="text" name="title" id="inputServiceTitle" class=" form-control rounded-pill shadow-sm bg-white rounded border-0" >
                 </div>
               </div>

                        <div class="form-item row justify-content-center">
                          <div class="col-sm-1">
                            <label for="inputServiceDescription" class="col-form-label">Описание услуги</label>
                          </div>

                          <div class="col-sm-4">
                            <textarea th:value="${product.description}" type="text" name="description" id="inputServiceDescription" class=" form-control  rounded-pill shadow-sm bg-white rounded border-0" rows="1"></textarea>
                          </div>
                        </div>


                                 <div class="form-item row justify-content-center mt-5">
                                   <div class="col-sm-1">
                                     <label for="inputServcePrice" class="col-form-label">Цена за услугу</label>
                                   </div>
                                   <div class=" col-sm-4">
                                     <input th:value="${product.price}" type="number" name="price" id="inputServcePrice" class="form-control rounded-pill shadow-sm bg-white rounded border-0" >
                                   </div>
                                 </div>

                                 <div class="form-item row justify-content-center ">
                                   <div class="col-sm-1">
                                     <label for="inputServceDiscont" class="col-form-label">Скидка на услугу</label>
                                   </div>
                                   <div class=" col-sm-4">
                                     <input th:value="${product.sale}" type="number" name="sale" id="inputServceDiscont" class="form-control rounded-pill shadow-sm bg-white rounded border-0" >
                                   </div>
                                 </div>
                                 <div class="form-item row justify-content-center ">
                                   <div class="col-sm-1">
                                     <label for="inputServceDuration" class="col-form-label">Длительность услуги (мин)</label>
                                   </div>
                                   <div class=" col-sm-4">
                                     <input th:value="${product.duration}" type="number" name="duration" id="inputServceDuration" class="form-control rounded-pill shadow-sm bg-white rounded border-0" >
                                   </div>
                                 </div>

                                 <div class="row d-flex justify-content-center">
                                   <th:block class="col-sm-3 item-photo" th:each="photo : ${photos}">
                                     <div class="card" style="width: 18rem;">
                                       <img th:src="..." class="card-img-top" alt="...">
                                       <div class="card-body ">
                                         <p class="card-text d-flex justify-content-center" >Картинка № <span th:text="${photo.id}"></span></p>
                                       </div>
                                     </div>
                                   </th:block>
                                 </div>

                                 <div class="form-item row justify-content-center mt-5">
                                   <div class="col-sm-1">
                                     <label for="formFileMultiple" class="form-label ">Выберите изображения для добавления</label>
                                   </div>
                                   <div class="col-sm-4">
                                     <input class="form-control " type="file" id="formFileMultiple" multiple>
                                   </div>
                                 </div>



      <div class=" form-item d-flex justify-content-center">
        <button class="btn btn-lg btn-orange btn-block " type="submit">Сохранить изменения</button>
      </div>


    </form>
  </div>


</div>
  </div>

</body>
</html>
