<!DOCTYPE html>
<html lang="ru" dir="ltr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<title>services</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</head>
<body>
	<div class="main-container">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm  rounded border-0">
			<div class="container-fluid">

				<a class="navbar-brand" href="#">
					<img th:src="@{/img/service_logo.png}" src="service_logo.png" width="40em"alt="">
					Подай на 16</a>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link "  th:href="@{'/'}">Домашняя</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" th:href="@{'/products'}">Услуги</a>
						</li>

						<li class="nav-item me-2">
							<a class="nav-link " th:href="@{'/profile'}">Профиль</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>



		<!--Блок контента-->
		
		<div class="container-services">
			<div class="forms p-5">
				<div class="row">

					<div class="col-10 d-flex justify-content-start ">
						<p class="text-big-1 text-orange"><b>Наши услуги</b></p>
					</div>
				</div>
				<div >
					<form class="row" method="get">
						<div class="col-3">
							<div class="form-floating">
							  <select name="price_sort" class="form-select" id="floatingSelect1" aria-label="Floating label select example">
								  <option th:value="'123'" selected>Нет</option>
								<option th:value="'asc'" >По возрастанию</option>
								<option th:value="'desc'">По убыванию</option>
							  </select>
							  <label for="floatingSelect1">Сортировка по цене</label>
							</div>
						</div>
						<div class="col-2">

							<div class="form-floating">
							  <select name="filter_sale" class="form-select" id="floatingSelect2" aria-label="Floating label select example">
								  <option th:value="1" selected>Все</option>
								<option th:value="0to5" >0-5%</option>
								<option th:value="5to15">5-15%</option>
								<option th:value="15to30">15-30%</option>
								  <option th:value="30to70">30-70%</option>
								<option th:value="70to100">70-100%</option>
							  </select>
							  <label for="floatingSelect2">Размер скидки</label>
							</div>

						</div>
						<div class="col-4 row">

								<input name="title" class="form-control form-control-lg me-2 " id="floatingSelect3" type="search"   aria-label="Search" placeholder="Поиск">
								<button  class="btn bck-orange" type="submit">Найти</button>

						</div>
					</form>

					<div th:if="${isAdmin}" class="col-3">
						<a th:href:="@{'/products/add'}"><button  class="btn btn-lg bck-orange" type="submit">Добавить услугу</button></a>
					</div>

				</div>

				<div class="mt-5">

					<th:block class="row  item-service" th:each="product : ${products}" >

							<div th:if="${product.sale == 0}" class="card m-3 border-0 shadow-sm col-4"  style="max-width: 540px;">
								<div class="row g-0">
									<div class="col-md-4">
										<!--<img th:src="" alt="." width="100%">-->
									</div>
									<div class="col-md-8">
										<div class="card-body">
											<h4 class="card-title" th:text="${product.title}">Название услуги</h4>
											<h6 class="card-text"><span th:text="${product.price}"></span> рублей \ час </h6>

											<div class="card-text row mt-2">
												<div th:if="${!isAdmin}">

													<a th:href="@{'/productrecords/add'}" ><button type="button" class="col btn bck-orange">Записаться</button></a>
													<a th:href="@{'/products/' + ${product.id}}"><button  type="button" class="col btn">Просмотреть</button></a>
												</div>

												<div th:if="${isAdmin}">

													<a th:href="@{'/products/' + ${product.id} + '/edit'}"><button  type="button" class="col btn bck-orange">Редактировать</button></a>
													<a th:href="@{'/products/' + ${product.id}}"><button  type="button" class="col btn">Просмотреть</button></a>
												</div>
												
											</div>
										</div>
									</div>
								</div>	
							</div>



							<div th:if="${product.sale != 0}" class="card m-3 border-0 shadow-sm bg-light-green col-4" style="max-width: 540px;">
								<div class="row g-0">
									<div class="col-md-4">
										<img th:src="${product.imageLocation}" alt=".">
									</div>
									<div class="col-md-8">
										<div class="card-body">
											<h4 class="card-title" th:text="${product.title}">Название услуги</h4>
											<h6 class="card-text"><span th:text="${product.price}" class="text-strike">...</span> <span class="text-sucsess blockquote-footer text-light-green">
												*скидка <span th:text="${product.sale}"></span>
											</span></h6>
											<div class="card-text row mt-2">
												<div th:if="${!isAdmin}">

													<a th:href="@{'/productrecords/add'}" ><button type="button" class="col btn bck-orange">Записаться</button></a>
													<a th:href="@{'/products/' + ${product.id}}"><button  type="button" class="col btn">Просмотреть</button></a>
												</div>

												<div th:if="${isAdmin}">

													<a th:href="@{'/products/' + ${product.id} + '/edit'}"><button  type="button" class="col btn bck-orange">Редактировать</button></a>
													<a th:href="@{'/products/' + ${product.id}}"><button  type="button" class="col btn">Просмотреть</button></a>
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>

					 </th:block>
				 </div>

		 </div>
<!--
		 <div class="quantity-services  text-orange row">
		 	<h5 class="d-flex justify-content-center">
				<span>Услуг (</span>
		 		<span >25</span>
				<span>/</span>
				<span th:text="${products.size}">100 </span>
				<span>)</span>
		 	</h5>
		 </div>
-->
		</div>


	</div>


</body>
</html>
