<!DOCTYPE html>
<html lang="ru" dir="ltr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<title>Service</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</head>
<body>
	<div class="main-container">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm  rounded border-0">
			<div class="container-fluid">

				<a class="navbar-brand" href="#">
					<img th:src="@{/img/service_logo.png}" src="service_logo.png" width="40em"alt="">
					Подай на 16</a>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link "  th:href="@{'/'}">Домашняя</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" th:href="@{'/products'}">Услуги</a>
						</li>

						<li class="nav-item me-2">
							<a class="nav-link " th:href="@{'/profile'}">Профиль</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<!--Кнопка возврата-->

		<div class="justify-content-starts p-3">
			<a th:href="@{'/products'}"><img src="btn_back.png" th:src="@{/img/btn_back.png}" width="3%"></a>
		</div>

		<!--Блок контента-->

		<div class="row  d-flex justify-content-end  ">
			<div class="col-8 p-5">
				<div class="service-main-info p-4 shadow-sm  rounded border-0">
					<h2 class="text-orange">Карточка услуги: </h2>

					<div class="form-item row justify-content-center">
						<div class="col-sm-4">
							<h5>Название услуги: </h5>
						</div>
						<div class="col-sm-8">
							<h5 th:text="${product.title}"></h5>
						</div>
					</div>

					<div class="form-item row justify-content-center">
						<div class="col-sm-4">
							<h5>Описание услуги: </h5>
						</div>
						<div class="col-sm-8">
							<h5 th:text="${product.description}"></h5>
						</div>
					</div>

					<!--div class="form-item row justify-content-center">
						<div class="col-sm-4">
							<h5>Статус услуги: <span th:text="${product.status}"></span> </h5>
						</div>
						<div th:if="${!isAdmin}" class="col-sm-8">
							<a th:href="@{'/products/' + ${product.id} + 'revoke'}"><button class="btn btn-lg btn-danger btn-block" type="submit">Отменить</button></a>
							<a th:href="@{'/products/' + ${product.id} + 'provide'}"><button class="btn btn-lg btn-success btn-block" type="submit">Подтвердить</button></a>
						</div>
					</div-->
				</div>


				<div class="service-info p-4 shadow-sm  rounded border-0">
					<h2 class="text-orange">Подробности: </h2>
					<div class="form-item row justify-content-center mt-4">
						<div class="col-sm-4">
							<h5>Цена услуги: </h5>
						</div>
						<div class="col-sm-8">
							<h5 th:text="${product.price}">... <span>руб \ час</span></h5>
						</div>
					</div>
					<div class="form-item row justify-content-center mt-4">
						<div class="col-sm-4">
							<h5>Длительность услуги: </h5>
						</div>
						<div class="col-sm-8">
							<h5 th:text="${product.duration}">2 часа</h5>
						</div>
					</div>
					<div th:if="${product.sale != 0}" class="form-item row justify-content-center mt-4">
						<div class="col-sm-4">
							<h5>Размер скидки: </h5>
						</div>
						<div class="col-sm-8">
							<h5 th:text="${product.sale}"><span>%</span></h5>
						</div>
					</div>
				</div>

				<!--div class="row form-item service-info d-flex justify-content-start">
					<th:block class="col-sm-3 item-photo p-2" th:each="photos : ${photos}">
					  <div class="card" style="width: 18rem;">
						<img th:src="" class="card-img-top" alt="...">

					  </div>
					</th:block>
				  </div-->

				<div th:if="${!isAdmin}" class=" form-item d-flex align-items-end">
					<a th:href="@{'/productrecords/'+ ${product.id}+'/'"><button  class="btn btn-lg btn-orange btn-block" type="submit">Записаться</button></a>
				</div>
				
				<div th:if="${isAdmin}" class=" form-item d-flex align-items-end row">
					<a th:href="@{'/products/' + ${product.id} + '/edit'}"></a><button  class="btn btn-lg btn-orange btn-block col-4 m-1" type="submit">Редактировать услугу</button>
					<a href="" ><button  class="btn btn-lg btn-danger btn-block col-4 m-1" type="submit">Удалить услугу</button></a>
				</div>

			</div>
			<div class="col-4 ">
				<div class=" container-logo d-flex justify-content-center p-5 ">
					<img src="tools_icon.png" th:src="@{/img/tools_icon.png}" class="" width="300px" alt="...">
				</div>
			</div>
		</div>
		</div>


</body>
</html>
